h1, p {
  font-family: Lato;
}
input{
  width:80%;
  height: 20px;
    padding: 8px 12px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.box{
  background-color: lightgrey;
  padding:5%;
  width:300px;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  
}
.title{
  display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
.small-title{
  font-size: 11px;
    position: relative;
    bottom: 10px;
}
.calculate{
  color: #fff;
  background-color: #037fb0;
      width: 90% !important;
    text-align: center;
    white-space: nowrap;
    min-width: 135px;
        border-color: #037fb0;
        height:40px;
        border-radius: 5px;
}
.calculate:hover{
  color: #fff;
  background-color:#23527c;
      width: 90% !important;
    text-align: center;
    white-space: nowrap;
    min-width: 135px;
        border-color: #23527c;
        height:40px;
        border-radius: 5px;
}
.dollar{
  position: absolute;
    padding: 10px;
}
.ans{
  position: absolute;
    top: 20%;
    right: 10%;
}